@model SistemaFacturación.Models.FacturacionModels.DetalleFactura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facturacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facturacion.Comentario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetalleFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
