@model IEnumerable<SistemaFacturación.Models.FacturacionModels.DetalleFactura>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facturacion.Comentario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalleFactura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalleFactura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalleFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
