@model SistemaFacturación.Models.FacturacionModels.AsientoContable

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AsientoContable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cuenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MontoAsiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoAsiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.CuentaContable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.IdTipoMovimiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAsiento" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
