@model SistemaFacturación.Models.FacturacionModels.AsientoContable

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsientoContable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cuenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MontoAsiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoAsiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.CuentaContable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.IdTipoMovimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAsiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
